h1{
	color: blue;
	size: 1.5em;
}
h2{
	color: blue;
	size: 1.5em;
}
h3{
	color: blue;
	size: 1.5em;
}
h4{
	color: blue;
	size: 1.5em;
}

th{
	color: red;
	font-weight: bold;
}
ul {
	list-style-type: square;
}
A:hover {
	COLOR: blue; TEXT-DECORATION: none; font-weight: none
}
